@model OnlineShop.Models.ViewModel.ShopViewModel

<h2>@Model.Shop.Name</h2>
<h4>Products</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<h4>Users</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" onclick="window.history.back()">Go Back</button>
